
/*
*	Name: 		style.css
*	Author: 	Krystofee
*	Created: 	25.1.2017
*	Desc: 		
*/

html, body {
	padding: 0;
	margin: 0;


	background-image: url('img/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;


	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

/* Classes */
/* - Fonts */

/* -- Dosis */
.font-family-dosis {
	font-family: 'Dosis';
}
/* -/ Dosis */

/* -- OpenSans */
.font-family-opensans {
	font-family: 'Open Sans', sans-serif;
}
/* -/ OpenSans */

/* -- Font weight */
.font-weight-200 {
	font-weight: 200;
}
.font-weight-300 {
	font-weight: 300;
}
.font-weight-400 {
	font-weight: 400;
}
.font-weight-600 {
	font-weight: 600;
}
.font-weight-700 {
	font-weight: 700;
}
.font-weight-800 {
	font-weight: 800;
}
/* -/ Font weight */

/* -- Font size */
.font-size-10 {
	font-size: 10px;
}
.font-size-15 {
	font-size: 15px;
}
.font-size-20 {
	font-size: 20px;
}
.font-size-25 {
	font-size: 25px;
}
.font-size-30 {
	font-size: 30px;
}

/* -/ Font size */

.unstyled li {
	list-style: none;
}

/* -- Align */
.display-inline-block {
	display: inline-block !important;
}

.text-align-center {
	text-align: center !important;
}
/* -/ Align */

.space tr td {
	padding: 10px;
}

.spacer {
	padding: 7.5px;
}

.padding-20 {
	padding: 20px;
}

.float-none {
	float: none;
}

.background-white-transparent {
	background-color: rgba(255,255,255,0.35);
}

.table-borderless tbody tr td,
.table-borderless tbody tr th,
.table-borderless thead tr th,
.table-borderless thead tr td,
.table-borderless tfoot tr th,
.table-borderless tfoot tr td {
	border: none;
}

.color-green {
	color: rgba(0, 130, 0, 1);
}

.color-red {
	color: rgba(160, 0, 0, 1);
}

.borderless {
	border: none;
}

.list-group-submenu {
	margin-left:20px;
}

.item {
	border-radius: 0;
	border-right: 1px solid rgba(50, 50, 250, 0.2) !important;
	border-top: 1px solid rgba(50, 50, 250, 0.2) !important;

	padding: 10px !important;
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;

	background: -moz-linear-gradient(top, rgba(196,211,255,0.55) 0%, rgba(196,211,255,0.53) 1%, rgba(212,223,255,0) 28%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(196,211,255,0.55) 0%,rgba(196,211,255,0.53) 1%,rgba(212,223,255,0) 28%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(196,211,255,0.55) 0%,rgba(196,211,255,0.53) 1%,rgba(212,223,255,0) 28%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8cc4d3ff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

.item .panel {
	background-color: rgba(0, 0, 0, 0) !important;
	position: relative;
}

.item .panel-heading h4 {
	color: rgb(90, 90, 190);
}

.item .panel-heading small {
	color: rgb(150, 150, 250);
}

.item p.description {
	font-size: .9em;
	padding: 0 15px;
}

.item img.preview {
	width: 80%;
	margin-left: 10%;
	padding: 10px;
}

.item .panel-footer {
	margin-top: 15px;
	margin-left: -10px !important; 
	margin-right: -10px !important;
	height: 100%;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.fullscreen-fixed {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.75);
}

.fullscreen-img {
	position: fixed;
	left: 25%;
	top: 10%;
	width: 50%;
	height: auto;
}